{% extends 'basepage.html' %}
{% block title %} Booking {% endblock title %}
{% block content %}
<div class="row" style="background-color: rgb(125, 224, 125);">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div>
            <h2
                style="text-align: center;margin-top: 50px;margin-bottom: 50px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;">
                Booking</h2>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-lg-2 col-sm-2"></div>
    <div class="col-lg-8 col-sm-10" style=" margin-top: 30px;margin-bottom: 60px;">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row d-flex" style="flex-direction: row;">
                <div class="col-lg-3 col-sm-2 ">
                    <label for="name" style="font-weight: 500; ">Patient Name:</label>
                </div>
                <div class="col-lg-8 col-sm-2 ">
                    <input type="name" id="name" name="name" style=" width: 60%; border-color:   rgb(125, 224, 125);" placeholder="Enter Patient Name" required>
                </div>
            </div>
            <div class="row d-flex" style="margin-top: 20px;flex-direction: row;">
                <div class="col-lg-3 col-sm-2 ">
                    <label for="phone" style="font-weight: 500; ">Patient Mobile
                        Number :</label>
                </div>
                <div class="col-lg-8 col-sm-2 ">
                    <input type="text" style="width: 60%; border-color:   rgb(125, 224, 125);" pattern="[0-9]{3}[0-9]{4}[0-9]{3}" id="phone"
                        name="phone" placeholder="Enter Mobile number" required>
                </div>
            </div>
            <div class="row d-flex" style="margin-top: 20px;flex-direction: row;">
                <div class="col-lg-3 col-sm-2 ">
                    <label for="docname" style="font-weight: 500; ">Doctor Name :</label>
                </div>
                <div class="col-lg-8 col-sm-2 ">
                    <select type="text"
                        style="width: 60%;border: none;outline: none;border: 3px solid  rgb(125, 224, 125);"
                        id="docname" name="docname" required>
                        <option value="">Select a Doctor</option>
                        {% for d in doct %}
                        <option value="{{d.doc_name}}">{{d.doc_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row d-flex" style="margin-top: 20px;flex-direction: row;">
                <div class="col-lg-3 col-sm-2 ">
                    <label for="date" style="font-weight: 500; ">Patient Mobile
                        Number :</label>
                </div>
                <div class="col-lg-8 col-sm-2 ">
                    <input type="date" style="margin-top: 8px; width: 60%; border-color:   rgb(125, 224, 125);" pattern="[0-9]{3}[0-9]{4}[0-9]{3}" id="date"
                        name="date" placeholder="dd-mm-yyyy" required>
                </div>
            </div>
            <button type="submit"
                style="background-color:  rgb(125, 224, 125);border-color: white;width: 150px;height: 40px;margin-top: 40px;">Submit</button>
        </form>
    </div>
    <div class="col-lg-4"></div>
</div>
{% endblock content %}