{% extends 'basepage.html' %}
{% block title %} Booking {% endblock title %}
{% block content %}
<div class="row" style="background-color: rgb(125, 224, 125);">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div>
            <h2
                style="text-align: center;margin-top: 50px;margin-bottom: 50px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;">
                Booking</h2>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-lg-4 col-sm-2"></div>
    <div class="col-lg-4 col-sm-10" style=" margin-top: 30px;margin-bottom: 60px;">
        <form action="" method="POST" style="width: 250px;">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" style="background-color:  rgb(125, 224, 125);border-color: white;width: 150px;height: 40px;margin-top: 40px;" >Submit</button>
        </form>
    </div>
    <div class="col-lg-4"></div>
</div>
{% endblock content %}