{% extends 'basepage.html' %}
{% block title %} Confirmation {% endblock title %}
{% block content %}
<div class="row" style="background-color: rgb(125, 224, 125);">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div>
            <h2
                style="text-align: center;margin-top: 50px;margin-bottom: 50px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;">
                Confirmation Alert</h2>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-lg-2 col-sm-2"></div>
    <div class="col-lg-8 col-sm-10" style=" margin-top: 30px;margin-bottom: 60px;text-align: center;">
        <h3>We have recieved your appointment request.<br>
        <h3> Our representative will contact you.
    </div>
    <div class="col-lg-2"></div>
</div>

{% endblock content %}