{% extends 'basepage.html' %}

{% block title %} Contact {% endblock title %}
{% block content %}
<div class="row" style="background-color: rgb(125, 224, 125);">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div>
            <h2
                style="text-align: center;margin-top: 50px;margin-bottom: 50px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;">
                Contact Us</h2>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-lg-2"></div>
    <div class="col-lg-2 col-sm-2" style=" margin-top: 70px;margin-bottom: 60px;text-align: center;">
        <h4 style="color: rgb(58, 58, 58);"><u>Get in Touch with us:</u><br></h4>
    </div>
    <div class="col-lg-2 col-sm-10" style=" margin-top: 30px;margin-bottom: 60px;text-align: center;">
        <h5>General Information:<br></h5>
        <p style="margin-top: 15px;"> +91 484 2660000 <br>
            +91 9946001005 <br>
            enquiry@sunrisehospital.in <br>
            patientrelations@sunrisehospital.in <br>
        </p>
    </div>
    <div class="col-lg-2 col-sm-10" style=" margin-top: 30px;margin-bottom: 60px;text-align: center;">
         <h5>For International Enquiries: <br></h5>
        <p style="margin-top: 15px;">+91 7907878160<br>
            ipr@sunrisehospital.in <br>
            www.sunrisehospital.in <br>
        </p>
    </div>
    <div class="col-lg-2 col-sm-10" style=" margin-top: 30px;margin-bottom: 60px;text-align: center;">
        <h5>Address: <br></h5>
        <p style="margin-top: 15px;"> Sunrise Hospital, <br> Seaport – Airport Road, <br> Kakkanad, <br> Kochi 682 030, <br> Kerala, India
    </div>
    <div class="col-lg-2"></div>
</div>

{% endblock content %}